body {
    position: relative;
    margin: 5px auto;
    max-width: 62.5rem;
}
h1 {
    color: #5a5a5b;
    margin: 0;
    font-size: 50px;
    font-family: 'Noto Sans Mono', 'DejaVu Sans Mono', monospace;
}
h1 ruby {
    ruby-position: under;
    ruby-align: center;
}
/* h1 ruby::first-letter does not work */
h1 ruby .first-letter, h1 rt {
    color: red;
}
h1 rt~rt {
    color: inherit;
}
h1 rt {
    font-size: 12px;
    position:relative;
    top:-10px;
}
h1 svg {
    vertical-align: middle;
}
.button {
    text-decoration: none;
}
.button>img {
    width:50px;
}
.inline-button {
    height:1em;
}
#stats-modal table {
    text-align: right;
}
#stats-modal table th {
    width: 140px;
    height: 40px;
}
.strike {
    text-decoration: line-through;
    color: red;
}
.meta {
    font-size: 15px;
    color: #444;
}
.active {
    color: #b11d1d;
}
#history {
    position: relative;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
    border:1px solid grey;
    height:200px;
    padding: 5px;
    margin: 15px;
    background-color:#fcf8f8;
    list-style: none;
    color: linear-gradient(#f69d3c, #3f87a6);;
    overflow: hidden;
}
