body {
    margin: 5px auto;
    max-width: 62.5rem;
}
h1 {
    font-size: 50px !important;
    font-family: 'Noto Sans Mono', 'DejaVu Sans Mono', monospace;
}
h1 ruby {
    color: #5a5a5b;
    ruby-position: under;
    ruby-align: center;
}
/* h1 ruby::first-letter does not work */
h1 ruby .first-letter, h1 rt {
    color: red;
}
h1 rt~rt {
    color: inherit;
}
h1 rt {
    font-size: 12px;
    position:relative;
    top:-10px;
}
#statistics table {
    text-align: right;
}
#statistics table th {
    width: 140px;
    height: 40px;
}
.strike {
    text-decoration: line-through;
    color: red;
}
#current-session {
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
}
